<<<<<<< HEAD
<script type="text/javascript" src="../public/js/abilities.js"></script>
<script type="text/javascript" src="../public/js/character.js"></script>
=======
<script type="text/javascript" src="/js/main.js"></script>
<div class='overlay'></div>
>>>>>>> 9f1f1c73f33b1a05671a303853f83e63d62af009
