<script type="text/javascript" src="/js/main.js"></script>
<div class='overlay'>

  <div class="statsBox">
    <span class="levelDisplay">Level: 1</span>
    <span class="displayBarText hpDisplay">HP: </span>
    <span class="displayBarText mpDisplay">MP: </span>
    <span class="displayBarText expDisplay">EXP: </span>
    <div class="displayBar hpDisplay"></div>
    <div class="displayBar mpDisplay"></div>
    <div class="displayBar expDisplay"></div>
    <div class="displayBarFill hpFill"></div>
    <div class="displayBarFill mpFill"></div>
    <div class="displayBarFill expFill"></div>
    <span class="displayAmount hpAmount"></span>
    <span class="displayAmount mpAmount"></span>
    <span class="displayAmount expAmount"></span>
  </div>

  <div class="battleText"></div>

</div>
