<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/phaser.js"></script>
    <script type="text/javascript" src="/js/Character.js"></script>
    <script type="text/javascript" src="/js/abilities.js"></script>
    <script type="text/javascript" src="/js/items.js"></script>
    <script type="text/javascript" src="/js/girl.js"></script>
    <script type="text/javascript" src="/js/battle.js"></script>
    <script type="text/javascript" src="/js/boot.js"></script>
    <script type="text/javascript" src="/js/preload.js"></script>
    <script type="text/javascript" src="/js/mainMenu.js"></script>
    <script type="text/javascript" src="/js/game.js"></script>
    <script type="text/javascript" src="/js/game2.js"></script>
    <script type="text/javascript" src="/js/game3.js"></script>
    <script type="text/javascript" src="/js/game4.js"></script>
    <!-- <script type="text/javascript" src="/js/game5.js"></script> -->
    <title>Game Jam</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
