<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/phaser.js"></script>
    <script type="text/javascript" src="/js/Character.js"></script>
    <script type="text/javascript" src="/js/girl.js"></script>
    <script type="text/javascript" src="/js/boot.js"></script>
    <script type="text/javascript" src="/js/preload.js"></script>
<<<<<<< HEAD
<<<<<<< HEAD
    <script type="text/javascript" src="/js/menu.js"></script>
=======
<<<<<<< HEAD
    <script type="text/javascript" src="/js/menu.js"></script>
=======
    <script type="text/javascript" src="/js/mainMenu.js"></script>
>>>>>>> raymond
>>>>>>> a6dfee29511a7d0036303a6cfe3424d8954bfe98
=======
    <script type="text/javascript" src="/js/mainMenu.js"></script>
>>>>>>> 9f1f1c73f33b1a05671a303853f83e63d62af009
    <script type="text/javascript" src="/js/game.js"></script>
    <script type="text/javascript" src="/js/game2.js"></script>
    <script type="text/javascript" src="/js/battle.js"></script>
    <title>Game Jam</title>
  </head>
  <body>
<<<<<<< HEAD
<<<<<<< HEAD
    <script type="text/javascript" src="/js/main.js"></script>
=======
<<<<<<< HEAD
    <script type="text/javascript" src="/js/main.js"></script>
=======
>>>>>>> raymond
>>>>>>> a6dfee29511a7d0036303a6cfe3424d8954bfe98
=======
>>>>>>> 9f1f1c73f33b1a05671a303853f83e63d62af009
    <%= yield %>
  </body>
</html>
