<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script type="text/javascript" src="/js/lib/jquery.js"></script>
    <script type="text/javascript" src="/js/lib/phaser.js"></script>
    <script type="text/javascript" src="/js/boot.js"></script>
    <script type="text/javascript" src="/js/preload.js"></script>
<<<<<<< HEAD
    <script type="text/javascript" src="/js/menu.js"></script>
=======
<<<<<<< HEAD
    <script type="text/javascript" src="/js/menu.js"></script>
=======
    <script type="text/javascript" src="/js/mainMenu.js"></script>
>>>>>>> raymond
>>>>>>> a6dfee29511a7d0036303a6cfe3424d8954bfe98
    <script type="text/javascript" src="/js/game.js"></script>
    <title>Game Jam</title>
  </head>
  <body>
<<<<<<< HEAD
    <script type="text/javascript" src="/js/main.js"></script>
=======
<<<<<<< HEAD
    <script type="text/javascript" src="/js/main.js"></script>
=======
>>>>>>> raymond
>>>>>>> a6dfee29511a7d0036303a6cfe3424d8954bfe98
    <%= yield %>
  </body>
</html>
